@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');


$dark-gray : #888888;
$light-bg : #f7f7f7;
$light-gray : #c3c3c3;
$color-black: #3f3844;
$color-yellow : #edd37f;
$color-orange : #ff7f50;
/* Fonts */

$family-fonts : Work Sans, sans-serif;
