@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4776e6;
  background: -webkit-linear-gradient(37deg, #4776e6 0%, #8e54e9 100%);
  background: linear-gradient(37deg, #4776e6 0%, #8e54e9 100%);
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*Botones Generales */

.buttons-general {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: Work Sans, sans-serif;

}

.buttons-general a {
  padding: 10px 20px;
  border: 3px solid #888888;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.buttons-general i {
  margin-right: 15px;
}

@media (max-width: 560px) {
  .buttons-general {
    display: none;
  }
}
.container {
  aspect-ratio: 1/1;
  width: 40%; 
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  border-radius: 12px;
}
.cien{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.one{
  height: 80%;
  width: 10%;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;

  left: 6%;
  z-index: 2;
  filter: drop-shadow(1px 1px 9px #0000002f);
}
.detalle { 
 position: absolute;
 height: 30%;
 width: 8%;
 background-color: #ffffff;
 border-radius: 5px;
 transform: rotate(50deg);
 left: 5%;
 top: 10%;
}

.cero_1, .cero_2{
  height: 80%;
  width: 40%;
  border-radius: 50%;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -3px;
  filter: drop-shadow(1px 1px 9px #0000002f);
  z-index: 1;

}
.cero_1::after, .cero_2::after{
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background: #4776e6;
  background: -webkit-linear-gradient(37deg, #4776e6 0%, #8e54e9 100%);
  background: linear-gradient(37deg, #4776e6 0%, #8e54e9 100%);
  z-index: 2;
}
.cero_2 {
  left: -3%;
  z-index: 0;
}
.info{ 
 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info h1 { 
 font-size: 10rem;
 line-height: 70%;
}
.info p { 
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width:560px){
  .container { 
    width: 60%;
  }
  .info h1 {
    font-size: 5em;
  }
  .info p { 
    font-size: 1.5em;
  }
}

